* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(10, 0, 25);
    color: #fff;     
    overflow: hidden;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

button {
    background-color: indigo;
    color: white;
    width: 20%;
}

input,
button {
    border-radius: 10px;
    padding: .5rem;
}

.chat-display {
    background-color: rgb(20, 0, 50);
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    max-height: 70vh;
    border-radius: 10px;
    padding: 0;
    display:  flex;
    flex-flow: column;
    overflow: auto;
    flex-grow: 1;
    align-self: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-msg{
    margin-top: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post--center {
    align-self: center;
}

.post__header {
    color: #fff;
    margin-top: 5px;
    padding: .2rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post--user {
    background-color: indigo;
}

.post--reply {
    background-color: rgb(60, 65, 150);
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    border-radius: 10px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    color: #ffffff;
    padding: .25rem .5rem;
}

.post__Admin {
    margin-top: 5px;
    color: #fff;
    padding: .25rem .5rem;
    margin-bottom: 5px;
}


/* .user-list,
.room-list, */

.activity {
    margin-top: 5px;
    color: #fff;
    padding: .25rem .5rem;
    margin-bottom: 5px;
    width: 100%;
    min-height: 2.65rem;
    max-width: 600px;
    padding: .75rem .25rem;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg {
    background-image: url("https://i.pinimg.com/originals/e3/1b/75/e31b752875679b64fce009922f9f0dda.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem;
    background-position-y: 3rem;
    position: relative;
}

.form-join {
    /* margin-top: 25rem; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.web {
    font-size: 7rem;
    text-align: center;
    font-family: Harrington;
    margin-top: 10vh;
    /* position: absolute; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}   

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
    border-radius: 10px;
}
